<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Global News Board</h1>
    <span class="menu-spacer"></span>
    <mat-nav-list>
      <a mat-button routerLink="/news_board" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}"> News Board </a>
      <a mat-button routerLink="/rss-editor" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}"> RSS Editor </a>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>